@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  color-scheme: dark light;
  scroll-behavior: smooth;
}

body {
  font-family: 'Mulish', sans-serif;
  font-size: 1.15rem;
  line-height: 1.75rem;
}

.btn1 {
  @apply px-8 py-2 border border-gray-800 rounded-full tracking-widest text-gray-200 transition hover:border-gray-600/70 hover:bg-[#5EBCAA]/30 hover:text-white active:bg-[#5EBCAA]/70 active:border-gray-500;
}

.btn1-large {
  @apply px-20 py-6 border border-gray-800 rounded-full tracking-widest text-gray-200 transition hover:border-gray-600/70 hover:bg-[#5EBCAA]/30 hover:text-white active:bg-[#5EBCAA]/60 active:border-gray-400;
}

.btn2 {
  @apply px-8 py-2 border border-gray-500 rounded-full tracking-widest text-gray-800 transition hover:border-gray-600/70 hover:bg-[#0a725f] hover:text-white active:bg-gray-300/30 active:border-white;
}

section.snapshot {
  color: rgb(226, 226, 226);
}

.snapshot-title {
  text-shadow: 0px 0px 3px gray, 0px 5px 1px black;
}

.wrapper {
  max-width: 50rem;
  margin-inline: auto;
  padding: 1rem;
}

.site-title {
  font-size: 5rem;
  text-align: center;
  margin-top: 1rem;
}

.section-title {
  font-size: 2.25rem;
  padding: 1.5rem;
}

.bg-main {
  @apply bg-[#5EBCAA]/20;
}

.bg-gradient {
  background-image: linear-gradient(45deg, #000000, rgb(18, 20, 49), #286464);
}

.bg-gradient-invert {
  background-image: linear-gradient(225deg, #000000, rgb(18, 20, 49), #286464);
}

.bg-gradient-lite {
  background-image: linear-gradient(
    45deg,
    #b1f7e8,
    rgb(211, 212, 233),
    #c2ffff
  );
}

.bg-gradient-preview {
  background-image: linear-gradient(
    135deg,
    #d0fff7,
    rgb(176, 180, 255),
    #e4ffff
  );
}

.bg-gradient-preview-invert {
  background-image: linear-gradient(
    -135deg,
    #d0fff7,
    rgb(176, 180, 255),
    #e4ffff
  );
}

.diagonal {
  --skew-angle: 0deg;
  --background: linear-gradient(225deg, rgb(116, 108, 189), #1e4ca3, #000);
  position: relative;
  isolation: isolate;
}

.diagonal::after {
  content: '';
  background: var(--background);
  position: absolute;
  inset: 0;
  transform: skewY(var(--skew-angle));
  z-index: -1;
}

.diagonal2 {
  --skew-angle: 0deg;
  --background: linear-gradient(
    180deg,
    rgb(116, 108, 189),
    #1e4ca3,
    rgb(28, 10, 107)
  );
  position: relative;
  isolation: isolate;
}

.diagonal2::after {
  content: '';
  background: var(--background);
  position: absolute;
  inset: 0;
  transform: skewY(var(--skew-angle));
  z-index: -1;
}

.diagonal3 {
  --skew-angle: 0deg;
  --background: linear-gradient(135deg, rgb(116, 108, 189), #1e4ca3, #000);
  position: relative;
  isolation: isolate;
}

.diagonal3::after {
  content: '';
  background: var(--background);
  position: absolute;
  inset: 0;
  transform: skewY(var(--skew-angle));
  z-index: -1;
}

.custom-img {
  background-image: url('/images/bg1.png');
  background-position: center;
  background-size: cover;
}

.custom-img2 {
  background-image: url('/images/bg2.jpg');
  background-position: center;
  background-size: cover;
}

.custom-img3 {
  background-image: url('/images/img15.png');
  background-position: bottom;
  background-size: cover;
}

.custom-img4 {
  background-image: url('https://images.unsplash.com/photo-1485988412941-77a35537dae4');
  background-position: center;
  background-size: cover;
}

.custom-img5 {
  background-image: url('https://static.wixstatic.com/media/eac08b_934cd6b7ae35482ab6b8c5a37e28bf3f~mv2.png');
  background-position: center;
  background-size: cover;
}

.custom-img6 {
  background-image: url('/images/img5.jpg');
  background-position: center;
  background-size: cover;
}

.custom-img7 {
  background-image: url('/images/img21.png');
  background-position: center;
  background-size: cover;
}

.custom-img8 {
  background-image: url('/images/img28.png');
  background-position: center;
  background-size: cover;
}

.custom-img9 {
  background-image: url('/images/img10.png');
  background-position: center;
  background-size: cover;
}

/*Link Underline Animation*/
.link-underline {
  border-bottom-width: 1;
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(rgb(156 163 175), rgb(156 163 175));
  background-size: 0 2px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.5s ease-in-out;
}

.link-underline-black {
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(rgb(156 163 175), rgb(156 163 175));
}

.link-underline:hover {
  background-size: 100% 2px;
  background-position: 15 100%;
}
