@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html {
  color-scheme: dark light;
}

body {
  /* font-family: 'Playfair Display', serif; */
  /* font-family: 'Libre Caslon Text', serif; */
  /* font-family: 'PT Serif', serif; */
  font-family: sans-serif;
}

h1,
h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.btn1 {
  @apply px-8 py-2 border border-gray-800 rounded-full tracking-widest text-gray-200 transition hover:border-gray-600/70 hover:bg-[#5EBCAA]/30 hover:text-white active:bg-[#5EBCAA]/70 active:border-gray-500;
}

.btn1-large {
  @apply px-10 py-4 w-56 bg-[#737899]/50 border border-gray-500 rounded-full tracking-widest text-gray-100 transition duration-300 hover:border-gray-400/70 hover:bg-[#5EBCAA]/60 hover:text-white active:bg-[#5EBCAA]/60 active:border-gray-400;
}

.btn2 {
  @apply px-8 py-2 border border-gray-500 rounded-full tracking-widest text-gray-800 transition hover:border-gray-600/70 hover:bg-[#0a725f] hover:text-white active:bg-gray-300/30 active:border-white;
}

.btn4-large {
  @apply px-10 py-4 border border-gray-500/70 rounded-full tracking-widest text-gray-300 transition hover:border-gray-200/70 hover:bg-[#0a725f]/30 hover:text-gray-200 active:bg-gray-200/70 active:border-white;
}

.btn3 {
  @apply px-8 py-2 border border-gray-800 rounded-full bg-gradient-to-t from-zinc-800 via-black to-zinc-800 tracking-widest text-gray-200 transition hover:border-gray-600/70 hover:bg-[#5EBCAA]/70 hover:text-gray-500 active:bg-[#5EBCAA]/70 active:border-gray-500 active:text-white;
}

.nav-chev-down {
  @apply hidden lg:block;
}

section.snapshot {
  color: rgb(226, 226, 226);
}

.snapshot-title {
  text-shadow: 0px 0px 3px gray, 0px 5px 1px black;
}

.wrapper {
  max-width: 30rem;
  margin-inline: auto;
  padding: 2rem;
  text-align: left;
  color: #d3d3d3;
}

/* Background Gradients */

.bg-gradient {
  background-image: linear-gradient(45deg, #000000, rgb(18, 20, 49), #0c4758);
}

.bg-gradient-invert {
  background-image: linear-gradient(225deg, #000000, rgb(18, 20, 49), #286464);
}

.bg-gradient-lite {
  background-image: linear-gradient(
    45deg,
    #b1f7e8,
    rgb(211, 212, 233),
    #c2ffff
  );
}

.bg-gradient-preview {
  background-image: linear-gradient(
    135deg,
    #d0fff7,
    rgb(176, 180, 255),
    #e4ffff
  );
}

.bg-gradient-preview-invert {
  background-image: linear-gradient(
    -135deg,
    #d0fff7,
    rgb(176, 180, 255),
    #e4ffff
  );
}

/* Background Gradients for Snapshot Cards*/

.diagonal {
  --skew-angle: 0deg;
  --background: linear-gradient(225deg, rgb(116, 108, 189), #1e4ca3, #000);
  position: relative;
  isolation: isolate;
}

.diagonal::after {
  content: '';
  background: var(--background);
  position: absolute;
  inset: 0;
  transform: skewY(var(--skew-angle));
  z-index: -1;
}

.diagonal2 {
  --skew-angle: 0deg;
  --background: linear-gradient(
    180deg,
    rgb(116, 108, 189),
    #1e4ca3,
    rgb(28, 10, 107)
  );
  position: relative;
  isolation: isolate;
}

.diagonal2::after {
  content: '';
  background: var(--background);
  position: absolute;
  inset: 0;
  transform: skewY(var(--skew-angle));
  z-index: -1;
}

.diagonal3 {
  --skew-angle: 0deg;
  --background: linear-gradient(135deg, rgb(116, 108, 189), #1e4ca3, #000);
  position: relative;
  isolation: isolate;
}

.diagonal3::after {
  content: '';
  background: var(--background);
  position: absolute;
  inset: 0;
  transform: skewY(var(--skew-angle));
  z-index: -1;
}

/* Background Images */

.custom-img {
  background-image: url('/images/bg1.png');
  background-position: 75% 50%;
  background-size: fill;
}

.custom-img2 {
  background-image: url('/images/bg2.jpg');
  background-position: center;
  background-size: cover;
}

.custom-img3 {
  background-image: url('/images/img15.png');
  background-position: bottom;
  background-size: cover;
}

.custom-img4 {
  background-image: url('/images/img31.png');
  background-position: 0% 0%;
  background-size: cover;
}

.custom-img5 {
  background-image: url('/images/img23.png');
  background-position: center;
  background-size: cover;
}

.custom-img6 {
  background-image: url('/images/img5.jpg');
  background-position: center;
  background-size: cover;
}

.custom-img7 {
  background-image: url('/images/img21.png');
  background-position: center;
  background-size: cover;
}

.custom-img8 {
  background-image: url('/images/img28.png');
  background-position: center;
  background-size: cover;
}

.custom-img9 {
  background-image: url('/images/img12.png');
  background-position: center;
  background-size: cover;
}

.custom-img10 {
  background-image: url('/images/img17.png');
  background-position: center;
  background-size: cover;
}

.custom-img11 {
  background-image: url('/images/img30.png');
  background-position: center;
  background-size: cover;
}

.custom-img12 {
  background-image: url('/images/img32.png');
  background-position: center;
  background-size: cover;
}

.custom-img13 {
  background-image: url('/images/img33.png');
  background-position: center;
  background-size: cover;
}

.custom-img14 {
  background-image: url('/images/img34.png');
  background-position: center;
  background-size: cover;
}

.custom-img15 {
  background-image: url('/images/img7.png');
  background-position: center;
  background-size: cover;
}

.custom-img16 {
  background-image: url('/images/img29.png');
  background-position: 0% 60%;
  background-size: cover;
}

/*Link Underline Animation*/
.link-underline {
  border-bottom-width: 1;
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(rgb(156 163 175), rgb(156 163 175));
  background-size: 0 2px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.5s ease-in-out;
}

.link-underline-black {
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(rgb(156 163 175), rgb(156 163 175));
}

.link-underline:hover {
  background-size: 100% 2px;
  background-position: 15 100%;
}
