@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  color-scheme: dark light;
  scroll-behavior: smooth;
}

body {
  font-size: 1.25rem;
  font-family: 'Montserrat', sans-serif;
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}

footer {
  font-size: 1.25rem;
  font-family: 'Montserrat', sans-serif;
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}

h1,
h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.btn1 {
  @apply px-8 py-2 border bg-[#737899]/30 border-gray-800 rounded-full tracking-widest text-gray-200 transition hover:border-gray-600/70 hover:bg-[#737899]/90 hover:text-gray-100 active:bg-zinc-700/90 active:border-gray-500;
}

.btn1-large {
  @apply min-w-[207px] text-sm px-10 py-4 bg-[#737899]/80 border border-gray-500 rounded-full tracking-widest text-gray-100 transition duration-300 hover:border-gray-400/70 hover:bg-[#737899]/50 hover:text-gray-100 active:bg-zinc-700/50 active:border-gray-400;
}

.btn2 {
  @apply px-8 py-2 border border-gray-500 rounded-full tracking-widest text-gray-800 transition hover:border-gray-600/70 hover:bg-[#737899] hover:text-gray-100 active:bg-gray-300/30 active:border-white;
}

.btn2-large {
  @apply px-10 py-4 border border-gray-500 rounded-full tracking-widest text-gray-800 transition hover:border-gray-600/70 hover:bg-[#737899] hover:text-gray-100 active:bg-gray-300/30 active:border-white;
}

.btn4-large {
  @apply px-10 py-4 border border-gray-500/70 rounded-full tracking-widest text-gray-300 transition hover:border-gray-200/70 hover:bg-[#737899]/30 hover:text-gray-200 active:bg-gray-200/70 active:border-white;
}

.btn3 {
  @apply px-8 py-2 border border-gray-800 rounded-full bg-gradient-to-t from-zinc-800 via-black to-zinc-800 tracking-widest text-gray-200 transition hover:border-gray-600/70 hover:bg-[#737899]/90 hover:text-gray-500 active:bg-zinc-700 active:border-gray-500 active:text-white;
}

.btn4 {
  @apply hover:text-gray-100 hover:bg-white/30 transition-transform ease-in border rounded-lg px-8 py-2 mb-6 border-dotted;
}

section.snapshot {
  color: rgb(226, 226, 226);
}

.snapshot-title {
  text-shadow: 0px 0px 3px gray, 0px 5px 1px black;
}

.wrapper {
  max-width: 30rem;
  margin-inline: auto;
  padding: 2rem;
  text-align: left;
  color: #d3d3d3;
}

/* Background Gradients */

.bg-gradient {
  background-image: linear-gradient(45deg, #000000, rgb(18, 20, 49), #0c4758);
}

.bg-gradient-flip {
  background-image: linear-gradient(-315deg, #000000, rgb(18, 20, 49), #0c4758);
}

.bg-gradient-invert {
  background-image: linear-gradient(225deg, #000000, rgb(18, 20, 49), #286464);
}

.bg-gradient-invert-x {
  background-image: linear-gradient(-135deg, #000000, rgb(18, 20, 49), #286464);
}

.bg-gradient-lite {
  background-image: linear-gradient(
    45deg,
    #b1f7e8,
    rgb(211, 212, 233),
    #c2ffff
  );
}

.bg-gradient-preview {
  background-image: linear-gradient(
    135deg,
    #d0fff7,
    rgb(176, 180, 255),
    #e4ffff
  );
}

.bg-gradient-preview-invert {
  background-image: linear-gradient(
    -135deg,
    #d0fff7,
    rgb(176, 180, 255),
    #e4ffff
  );
}

/* Background Gradients for Snapshot Cards*/

.diagonal {
  --skew-angle: 0deg;
  --background: linear-gradient(225deg, rgb(116, 108, 189), #1e4ca3, #000);
  position: relative;
  isolation: isolate;
}

.diagonal::after {
  content: '';
  background: var(--background);
  position: absolute;
  inset: 0;
  transform: skewY(var(--skew-angle));
  z-index: -1;
}

.diagonal2 {
  --skew-angle: 0deg;
  --background: linear-gradient(
    180deg,
    rgb(116, 108, 189),
    #1e4ca3,
    rgb(28, 10, 107)
  );
  position: relative;
  isolation: isolate;
}

.diagonal2::after {
  content: '';
  background: var(--background);
  position: absolute;
  inset: 0;
  transform: skewY(var(--skew-angle));
  z-index: -1;
}

.diagonal3 {
  --skew-angle: 0deg;
  --background: linear-gradient(135deg, rgb(116, 108, 189), #1e4ca3, #000);
  position: relative;
  isolation: isolate;
}

.diagonal3::after {
  content: '';
  background: var(--background);
  position: absolute;
  inset: 0;
  transform: skewY(var(--skew-angle));
  z-index: -1;
}

/* Latest News CSS*/
.news-body {
  color: #eee;
  background-color: #000000;
  font-size: 1.125rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
}
